/* Custom CSS
------------------------------------------------------------ */
.photosource {
                float:right;
                text-align:right;
                font-size:11px;
                font-style:italic;
                margin-left:18px;
                }
.photofloat {
                float:right;
}
.photofloat15 {
                float:right;
                margin-left:15px;
                margin-bottom:10px;
                margin-top:5px;
}
.photofloat30 {
                float:right;
                margin-left:30px;
                margin-bottom:10px;
                margin-top:5px;
}
.photocenter {
                text-align:center;
                margin:10px 0 15px 0;
}
.topproducts {
                width:200px;
                text-align:center;
                border:3px solid #e5e5e5;
                margin:3px 0 15px 25px;
                float:right;
}
.topheader {
                background-color:#e5e5e5;
                padding:3px 0 1px 0;
                margin-bottom:9px;
}
.product1 {
                margin:0 5px 0 5px;
}
.product2 {
                padding:18px 5px 18px 5px;
}
.product3 {
                padding:0 5px 9px 5px;
}
.relatedarticles {
                width:260px;
                border-top:1px solid #e5e5e5;
                border-right:5px solid #e5e5e5;
                border-bottom:5px solid #e5e5e5;
                border-left:5px solid #e5e5e5;
                margin:3px 0 15px 25px;
                float:right;
}
.relatedarticles li {
                padding-right:10px;
                }
.relatedarticles ul {
                padding-top:5px;
                }
.relatedheader {
                background-color:#e5e5e5;
                padding:7px 3px 7px 3px;
                margin-bottom:9px;
                text-align:center;
                font-size:16px;
                font-weight:bold;
}
.textarea {
                float:right;
                width:275px;
                margin:5px 0 5px 20px;
}
ol.alpha li {
                list-style-type:lower-alpha;
                line-height:1.325;
}
ol.roman li {
                list-style-type:lower-roman;
                line-height:1.325;
}
ol.upper-roman li {
                list-style-type:upper-roman;
                line-height:1.25;
                font-weight:bold;
}
ol.roman-faq li {
                list-style-type:lower-roman;
}
.faq-box {
                width:80%;
                background-color:#e5e5e5;
                border:solid 10px #bfbfbf;
                padding:20px;
                font-size:90%;
                line-height:0.5;
}
.simpletable-01 {
                font-weight:bold;
                font-size:14px;
                background-color:#e5e5e5;
                padding:3px 0 3px 0;
}
.simpletable-02 {
                font-weight:bold;
                font-size:14px;
                background-color:#e5e5e5;
                padding:3px 0 3px 0;
                border-left:1px solid #cecece;
                border-right:1px solid #cecece;
}
.simpletable-01a {
                font-size:14px;
}
.simpletable-02a {
                font-size:14px;
                padding:3px 0 3px 0;
                border-left:1px solid #cecece;
                border-right:1px solid #cecece;
}
.simpletable {
                text-align:center;
                border:1px solid #cecece;
                margin-bottom:25px;
                width:100%
}
.simpletable-header {
                font-weight:bold;
                font-size:18px;
                background-color:#cecece;
                padding:8px 0 8px 0;
}
.topproducts250 {
                width:250px;
                text-align:center;
                border:3px solid #e5e5e5;
                margin:3px 0 15px 25px;
                float:right;
}
.topheader250 {
                background-color:#e5e5e5;
                padding:3px 0 1px 0;
                margin-bottom:9px;
}
.product250-1 {
                margin:0 5px 0 5px;
}
.product250-2 {
                padding:18px 5px 18px 5px;
}
.product250-3 {
                padding:0 5px 9px 5px;
}
.faqlist li {
                font-size:90%;
                padding-top:0px;
}
hr.faq {
                align:center;
                margin: 15px 0 20px 0;
                color:#fff;           
                border-top: 1px dotted #bfbfbf;
                height:1px;
                clear:both;
}
.center {
                text-align:center;
                margin: 10px 0 15px 0;
}
.video {
                text-align:center;
                width:100%;
                margin: 10px 0 20px 0;
}
.jean-page{
        display: hidden;
}