@media screen and (max-width: 767px) {
	.site-container {
		width: 100%;
	}
	.site-inner {
		padding: 0;
	}
	.content-sidebar-wrap {
		> [role="main"],  > div.content > [role="main"] {width: 100%;}
		> [role="complementary"] {width: 100%;}
	}
	/* Search Area */
	#search-area {
		margin-bottom: 1em;
		.learn-share {
			color: $primary-color;
			&.active {
				background: white;
				border: 1px solid #dadada;
				border-bottom: none;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				height: 60px;
			}
			p {
				margin-bottom: 0;
				color: $primary-color;
			}
			#catdrop {
				padding: 0;
				padding-right: 2.5em!important;
				color: $primary-color;
				background: none;
				border: none;
				span {font-weight: bold;}
			}
			.dropdown.button.small:before {border-color: #267d92 transparent transparent transparent;}
		}	
		.search-wrap {
			@include grid-row;
			@include shadow($padding: 1em .5em 0);
			background: white;
		}
		form {margin-bottom: 0;}
		#input-wrap {
			padding-left: 1em;
		}
		input {
			height: 3.25em;
			width: 560px;
			border-top-right-radius: $global-radius;
			border-bottom-right-radius: $global-radius;
			box-shadow: inset 0 0 5px rgba(153,153,153,.25);
		}
		button {
			height: 3.25em;
			margin-bottom: 0;
			font-weight: 400;
		}
		#search-prefix {
			background: none;
			color: #cccccc;
			border: 1px solid #cccccc;
			border-right: none;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			width: 82px;
			line-height: 2.125em;
			box-shadow: inset 0 0 5px rgba(153,153,153,.25);
			font-size: 14px;
			text-align: center;
			padding: .5em 0;
		}
		#search-button {
			background: #333333;
			font-size: 21px;
			padding: .4em 1em .45em .5em;
			float: right;
			border: none;
			height: auto;
		}
		.icon-search {
			position: relative;
			padding-right: 1em;
			font-size: 18px;
		}
		@media #{$small} {
			.search-wrap {padding-left: .5em;}
			.learn-share {
				@include grid-column(2);
				width: 125px;
				padding-top: .4em;
				padding-right: 0;
			}
			#searchform {
				@include grid-column(10);
			}
			#search-button {
				left: 1.75em;
			}
		}
	}
	.site-footer {
		.special-header {
			width: 100%;
		}
	}
	
	/* Pages */
	body.page {
		.entry-content {padding: 1em 1em 0;}
	}
	body.archive, body.search, body.blog {
		.entry-content {
			.featured-image {
				width: 100%;
				padding: 0;
			}
			.entry {
				width: 100%;
				padding: 0;
			}
		}	
	}
	body.search {
		.archive-title {margin-top: .5em;}
	}
	.author-box {
		.author-image {width: 100%;}	
		.author-info {width: 100%; margin-top: 1em;}	
	}
	
	#video1 {width: 250px; height: 148px;}

	/* Royalslider */
	.rsABlock {
		left: 5%;
		bottom: 12%;
		width: 90%;
		color: white;
		font-size: 18px;
		position: absolute;
		z-index: 15;
		p {
			color: white;
			background: #dd565b;
			background: rgba(#dd565b, .75);
			padding: .5em;
			margin-bottom: .5em;
			text-align: center;
		}
	}
} // end media query